*.class
*.log
.project
.classpath
.settings
.sonar
.bsp
/.idea/*
/bin
/target/
/project/project
/project/target
.idea/*
*.idea/
*.log
/deploy-*.zip
metastore_db/
*.db
**/target
Spark_Scala_Snippet/target
Spark_Scala_Snippet/app-logs
/.idea/
/.idea/libraries/
/output
/dataSink